name: CI

on:
  push:

env:
  CARGO_TERM_COLOR: always
  SKIP_WASM_BUILD: 1

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        directory: [runtimes, templates]
    steps:
      - uses: actions/checkout@v4
      - run: rustup default nightly
      - run: rustup component add rustfmt clippy rust-src
      - name: Run ${{ matrix.directory }} fmt
        run: cargo fmt --all --check --manifest-path ${{ matrix.directory }}/Cargo.toml
      - name: Run ${{ matrix.directory }} clippy
        run: cargo clippy -q --workspace --no-deps --manifest-path ${{ matrix.directory }}/Cargo.toml -- -D clippy::pedantic -D warnings
